.header__auth-link {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;
    text-align: right;
}

.header__auth-link:hover {
    opacity: 0.6;
}